@{
    ViewData["Title"] = "About";
}

<h1>About</h1>
<p>Welcome to our application! This is the 'About' page where we provide information about our organization, mission, and team. Stay tuned for more updates!</p>
