@{
    ViewData["Title"] = "Contact";
}
<section class="text-center" aria-labelledby="contact-header">
    <h2 id="contact-header">@ViewData["Title"]</h2>
    <h3 class="pb-3">@ViewData["Message"]</h3>
    <address>
        <p>Postal Address: 123, Example Street, City Name</p>
        <p>Telephone: +1-800-CONTACT</p>
    </address>
    <a href="mailto:support@example.com">Support Email</a>
    <a href="mailto:marketing@example.com">Marketing Email</a>
</section>