@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to .NET 8!</h1>
    <p class="lead">This is your newly migrated application using ASP.NET Core MVC.</p>
    <a class="btn btn-primary btn-lg" href="/Home/About">Learn more</a>
</div>
