@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" role="main" aria-labelledby="welcome-heading">
    <h1 id="welcome-heading" class="display-4">Welcome to .NET 8!</h1>
    <p class="lead">This is your newly migrated application using ASP.NET Core MVC.</p>
    <a class="btn btn-primary btn-lg" href="/Home/About" role="button" aria-label="Learn more about this application">Learn more</a>
</div>