@{
    ViewData["Title"] = "Home Page";
}

<main class="container">
    <div class="text-center py-5">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great websites and web applications using HTML, CSS, and JavaScript.</p>
        <a class="btn btn-primary" href="https://asp.net" role="button">Learn more »</a>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting Started</h2>
            <p>ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites...</p>
            <a class="btn btn-secondary" href="https://go.microsoft.com/fwlink/?LinkID=397860">Tutorials »</a>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free package manager for .NET...</p>
            <a class="btn btn-secondary" href="https://www.nuget.org/">NuGet.org »</a>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company...</p>
            <a class="btn btn-secondary" href="https://go.microsoft.com/fwlink/?LinkId=301878">Find Provider »</a>
        </div>
    </div>
</main>