@{
    ViewData["Title"] = "Welcome to the Application";
}

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to Our Modern Application</h1>
        <p class="lead">
            This is the main landing page of the application, showcasing its key features.
        </p>
        <hr class="my-4">
        <p>
            Explore the features and functionalities through the navigation options above.
        </p>
        <a class="btn btn-primary btn-lg" href="/Hotels" role="button">View Hotels</a>
        <a class="btn btn-secondary btn-lg" href="/Countries" role="button">View Countries</a>
    </div>
</div>
