@{
    ViewData["Title"] = "Home Page";
}

<main>
    <header class="text-center mb-4">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great websites and web applications using HTML, CSS, and JavaScript.</p>
        <p>
            <a class="btn btn-primary btn-lg" href="https://asp.net" role="button">Learn more</a>
        </p>
    </header>

    <div class="row text-center">
        <div class="col-md-4">
            <h2 id="getting-started">Getting started</h2>
            <p>ASP.NET supports three major development modes: MVC, WebAPI, and Web Pages. Choose what works best for your app.</p>
            <p>
                <a class="btn btn-primary btn-md" aria-labelledby="getting-started" href="https://go.microsoft.com/fwlink/?LinkId=301865">
                    Learn more
                </a>
            </p>
        </div>
        
        <div class="col-md-4">
            <h2 id="get-more-libraries">Get more libraries</h2>
            <p>Install popular libraries or add NuGet packages for additional functionality in your application.</p>
            <p>
                <a class="btn btn-primary btn-md" aria-labelledby="get-more-libraries" href="https://go.microsoft.com/fwlink/?LinkId=301864">
                    Learn more
                </a>
            </p>
        </div>
        
        <div class="col-md-4">
            <h2 id="web-hosting">Web Hosting</h2>
            <p>Run your apps locally, on-premises, or in the cloud. ASP.NET is flexible and scalable.</p>
            <p>
                <a class="btn btn-primary btn-md" aria-labelledby="web-hosting" href="https://go.microsoft.com/fwlink/?LinkId=301867">
                    Learn more
                </a>
            </p>
        </div>
    </div>
</main>