@page
@model WebApplication452_simple.Pages.CountryCreateModel
@{
    ViewData["Title"] = "Create Country";
}

<h2>Create Country</h2>

<form method="post" class="form-horizontal">
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Country</h4>
        <hr />
        <div class="form-group">
            <label asp-for="CountryViewModel.Name" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="CountryViewModel.Name" class="form-control" />
                <span asp-validation-for="CountryViewModel.Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-default">Create</button>
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.2/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate.unobtrusive/1.19.2/jquery.validate.unobtrusive.min.js"></script>
}