@model WebApplication452_simple.Models.Country

@{
    ViewData["Title"] = "Country Details";
}

<h2 class="text-primary">Country Details</h2>

<div class="card">
    <div class="card-header">
        <h4>@Model.Name</h4>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3 font-weight-bold">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Name)
            </dd>
        </dl>
    </div>
    <div class="card-footer">
        <div class="d-flex justify-content-between">
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</div>