<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <h1>@ViewData["ErrorTitle"]</h1>
        <h2>@ViewData["ErrorMessage"]</h2>
    </header>
    <footer>
        &copy; @DateTime.Now.Year - Your Application Name
    </footer>
</body>
</html>