<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
    <link rel="stylesheet" href="~/wwwroot/css/site.css" />
</head>
<body>
    @model Microsoft.AspNetCore.Mvc.ViewFeatures.ViewDataDictionary

    <hgroup>
        <h1>Error</h1>
        <h2>An error occurred while processing your request.</h2>
    </hgroup>

    <script src="~/wwwroot/js/site.js"></script>
</body>
</html>