@{
    Layout = "_Layout";
}

<main aria-labelledby="title">
    <h2 id="title">About</h2>
    <h3>@Html.Encode(ViewData["Message"])</h3>
    <p>Use this area to provide additional information about your application.</p>
</main>