@{
    ViewData["Title"] = "About";
    ViewData["Message"] = "Welcome to the About Page";
}
<main aria-labelledby="title">
    <header>
        <h1 id="title">@ViewData["Title"]</h1>
        <p>@ViewData["Message"]</p>
    </header>

    <section>
        <p>Use this area to provide additional information about your application or team.</p>
    </section>
</main>