@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}

<main aria-labelledby="title">
    <h2 id="title" asp-for="Title"></h2>
    <h3 asp-for="Message"></h3>

    <p>Use this area to provide additional information.</p>
</main>
