@{
    ViewData["Title"] = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">ASP.NET Core</h1>
        <p class="lead">ASP.NET Core is a free, cross-platform, open-source framework for building modern, cloud-based, and internet-connected applications.</p>
        <p><a asp-area="" asp-controller="Home" asp-action="LearnMore" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Getting started</h2>
            <p>
                ASP.NET Core MVC provides a powerful, patterns-based way to build dynamic websites that
                enable a clean separation of concerns and give you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a asp-area="" asp-controller="Home" asp-action="GettingStarted" class="btn btn-outline-dark">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Get more libraries</h2>
            <p>NuGet is a free tool that makes it easy to add, remove, and update libraries and tools in your ASP.NET Core projects.</p>
            <p><a asp-area="" asp-controller="Home" asp-action="Libraries" class="btn btn-outline-dark">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Web Hosting</h2>
            <p>You can easily find a web hosting provider that offers the right mix of features and price for your ASP.NET Core applications.</p>
            <p><a asp-area="" asp-controller="Home" asp-action="Hosting" class="btn btn-outline-dark">Learn more &raquo;</a></p>
        </section>
    </div>
</main>