@model WebApplication452_simple.Models.Hotel

@{
    ViewData["Title"] = "Create";
}

<h2>Create Hotel</h2>

<form asp-action="Create" method="post">
    <div class="form-horizontal">
        <h4>Hotel Details</h4>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        
        <div class="form-group">
            <label asp-for="Name" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="CountryId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="CountryId" class="form-control" asp-items="ViewBag.CountryId"></select>
                <span asp-validation-for="CountryId" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="City" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Stars" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="Stars" class="form-control" />
                <span asp-validation-for="Stars" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="PricePerNight" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="PricePerNight" class="form-control" />
                <span asp-validation-for="PricePerNight" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="IsAllInclusive" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="IsAllInclusive" type="checkbox" />
                <span asp-validation-for="IsAllInclusive" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation-unobtrusive@3.2.0/dist/jquery.validate.unobtrusive.min.js"></script>
}