@model WebApplication452_simple.Models.HotelViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit" method="post" class="form-horizontal">
    <div class="form-horizontal">
        <h4>Hotel</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />

        <div class="form-group">
            <label asp-for="Name" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="CountryId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="CountryId" asp-items="@Model.CountryOptions" class="form-control"></select>
                <span asp-validation-for="CountryId" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="City" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Stars" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="Stars" class="form-control" />
                <span asp-validation-for="Stars" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="PricePerNight" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="PricePerNight" class="form-control" />
                <span asp-validation-for="PricePerNight" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="IsAllInclusive" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <div class="form-check">
                    <input asp-for="IsAllInclusive" class="form-check-input" />
                    <span asp-validation-for="IsAllInclusive" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-default">Save</button>
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation/1.19.5/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.0/jquery.validate.unobtrusive.min.js"></script>
}