{
  "ConnectionStrings": {
    "DefaultConnection": "Data Source=localhost;Initial Catalog=HotelReservationSystem;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
  },
  "AppSettings": {
    "webpages:Version": "3.0.0.0",
    "webpages:Enabled": false,
    "ClientValidationEnabled": true,
    "UnobtrusiveJavaScriptEnabled": true
  }
}